@using System;
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.Extensions.Configuration;
@using Accountants.Web.Portal.ViewModels;
@using Microsoft.Extensions.Options;

<!--Using the Configuration-->
@*@inject IConfiguration _configuration;*@

<!--Strongly Typed Configuration Settings in ASP.NET Core -->
@inject IOptions<ApplicationDetails> applicationDetails


@{
    var applicationName = applicationDetails.Value.Name;
    var applicationVersion = applicationDetails.Value.VersionNumber;
    var developedBy = applicationDetails.Value.DevelopedBy;
}

<!DOCTYPE html>
<html ng-app="AssistantForCAApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @applicationName </title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootswatch/darkly/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<div id="sidebar">
    <div class="center-block">
        <img src="~/images/PSM.png" alt="headshot" class="headshot" />
    </div>
    <ul class="nav">
        <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
        <li><a asp-controller="App" asp-action="About">About</a></li>
        <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        <li><a asp-controller="App" asp-action="Trips">My Trips</a></li>
        <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
    </ul>
</div>

    <div id="wrapper">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <img src="~/images/PSMLogo.png" alt="headshotLogo" class="headshotLogo" />
                </div>
                    <div class="navbar-header">
                       
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink(@applicationName, "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @*@if (Request.IsAuthenticated)*@
                            @*{*@
                            <li>@Html.ActionLink("Clients", "Index", "Client")</li>
                            <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                            @*}*@
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                        @*@Html.Partial("_LoginPartial")*@
                    </div>
                </div>
        </div>
        <div class="container body-content">
            <div>Total: Nothing here {{'yet' + '!'}}</div>
            @*<div>Total: Nothing here {{'yet' + '!'}}</div>
            <div ng-init="personName='John Doe'">
                <input ng-model="personName" /> {{personName}}
            </div>*@

            @RenderBody()
        </div>

        <footer>
            <hr class="hr-layout" />
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - @developedBy (Version @applicationVersion).</p>
            </div>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    </environment>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>

    <!--Application Specific JS files-->
    <script src="~/app/app.module.js"></script>
    <script src="~/app/app.config.js"></script>
    <script src="~/app/client/client.module.js"></script>
    <script src="~/app/client/client.controller.js"></script>
    
@RenderSection("scripts", required: false)
</body>
</html>
